body {
    margin: 0;
    padding: 0;
    background: url(../img/noise.png);

    font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(72, 72, 72);
}

h2, h3 {
    margin: 0;
}

.container {
    padding: 0 10px;
}

h1 {
    font-size: 1.8em;
}

#demo li {
    border: 1px solid #d2d2d2;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}

#demo li {
    padding: 5px;
}

#demo img {
    width: 100%;
    display: block;
}

@media (max-width: 480px) {
    .fork-ribbon {
        display: none;
    }
}

.pack-layout {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.pack-layout li {
    width: 340px;
    position: absolute;
    afloat: left;
}